*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: var(--bg-color) #101113;
    --text-color:var(--text-color) #fff;
    --main-color:var(--main-color) #34e7f8;
    --other-color:var(--other-color) #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
    
}